/* ==========================================================================
   BASE
   ========================================================================== */
section{
  padding: 3rem 0;
}

.sectiontittle{
   padding: 0;
   text-align: center;
   white-space: nowrap;
}

/* ==========================================================================
   BACKGROUND CLASSES
   ========================================================================== */

.background-yellow{background-color: #FFEE00;}
.background-black{background-color: #1f1b20;}
.background-green{background:#019541;}
.background-blue{background:#1f1b20;}
.background-footer{background:#1f1b20;}
.background-red{background:red;}


/* ==========================================================================
   comment
   ========================================================================== */
.img-center{  margin: 0 auto;}
.text-green{color:#019541;}
.text-black{color:black;}
.text-white{color:white;}
.text-white>li>a{color:white !important; }
.btn-grey{background: grey}
.bolder{font-weight: bolder;}
.mayus{text-transform: uppercase;}
.arial{font-family: arial;}
.without-border{border:0;}
.without-margin-bottom{margin-bottom: 0px;	}
.capitalize{text-transform:capitalize;	}
.hr-title{
	 border: none;
    height: 5px;
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}
.em2{font-size: 2em;	}
.step-number{font-size: 4em;}
.circle{border-radius: 50%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  /*padding: 6px 0;*/
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 127px;
  height: 127px;
  margin: auto;
  /*padding: 10px 16px;*/
  font-size: 24px;
  /*line-height: 1.33;*/
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px #454545;
}
.title{margin-top: 	11px;}
    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }

/* ==========================================================================
   NAVS BAR
   ========================================================================== */
.main-logo{
  margin:5px 0 5px 5px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text .text-green{color:#019541;}
#app > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li > a{border-right: 2px solid #019541;}
/*#app > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:nth-child(1) > a{color:pink;}*/
#app > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:last-child > a{border-right: 0px solid #019541;}
/*.principal-menu>li:first-child{color:red!important; }*/
/*.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:last-child{color:purple!important; }*/
#app > nav.navbar.navbar-default.background-yellow.topbar{border:none;}
#app > nav:nth-child(2){border:none;}
.topbar{margin-bottom: 0px;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color:black;}
/*.navbar-default{background-color: #ffe30e;}*/
.banner{min-width: 100%;}
.principal-login-input{border:4px #019541 solid;background-color: #019541;}
.principal-login-input >span{background: #019541;
    border: 0px;
    border-radius: 0px;
    font-size: 2rem;}

.navbar{
  border-radius: 0;
  line-height: 0;
  min-height: 0;
  border:0;
}
.navbar-nav>li>a{
  padding-top: 0;
  padding-bottom: 0;
}
.principal-menu{
  padding:1.5rem 0;
}



.principal-login-input >input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   grey;
    font-size: 	1.5em;
}
.principal-login-input >input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   font-size: 	1.5em;
   opacity:  1;
}
.principal-login-input >input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   font-size: 	1.5em;
   opacity:  1;
}
.principal-login-input >input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
   font-size: 	1.5em;
}

.principal-login-btn:hover{background:white; color:black;}
.principal-login-btn{height: 44px;margin-left: 0.5rem;}

/* Fixed bar
   ========================================================================== */
#menu-nav{
  height: 52px;
  z-index: 300;
}
#main-nav{
 transition: all 4s;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.block{
  display: none;
  height: 58px;
}
.show{
  display: block;
}
.main-menu-dropdown{
  display: none;
  margin: 1.1rem 1.5rem;
}
  .main-menu-dropdown_button{
    background-color: transparent;
    border: 0;
    color: #fff;
  }
    .main-menu-dropdown_button:hover{
      background-color: transparent;
      border: 0;
      color: #fff;
    }
 
    .main-menu-dropdown>.btn-default.dropdown-toggle{
      background-color: transparent;
      border: 0;
      color: #fff;
    }
      .main-menu-dropdown>.btn-default.dropdown-toggle:focus{
        background-color: transparent;
        border: 0;
        color: #fff;
      }

/* ==========================================================================
   WE STARTED
   ========================================================================== */

.panel-default>.panel-heading{
  background-color: #FFEE00;
  border-color: #FFEE00;
}
.panel-default {
    border-color: #FFEE00;
}

/* ==========================================================================
   I Dont Did it!
   ========================================================================== */

.referral{
  color:white;
}
.referral:hover{
  color:white;
}
.referral:active{
  color:white;
}
.referral:visited{
  color:white;
}
.justify{text-align: justify;}