.background-yellow{background-color: #FFEE00;}
.background-black{background-color: #1f1b20;}
.background-green{background:#019541;}
.background-blue{background:#1f1b20;}
.background-footer{background:#1f1b20;}
.background-red{background:red;}
.img-center{  margin: 0 auto;}
.text-green{color:#019541;}
.text-black{color:black;}
.text-white{color:white;}
.text-white>li>a{color:white !important; }
.btn-grey{background: grey}
.bolder{font-weight: bolder;}
.mayus{text-transform: uppercase;}
.arial{font-family: arial;}
.without-border{border:0;}
.without-margin-bottom{margin-bottom: 0px;	}
.padding-top-15px{padding-top: 15px;	}
.capitalize{text-transform:capitalize;	}
.hr-title{
	 border: none;
    height: 5px;
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}
.em2{font-size: 2em;	}
.step-number{font-size: 4em;}
.circle{border-radius: 50%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  /*padding: 6px 0;*/
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 127px;
  height: 127px;
  margin: auto;
  /*padding: 10px 16px;*/
  font-size: 24px;
  /*line-height: 1.33;*/
  border-radius: 100%;
}
.title{margin-top: 	11px;}
    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text .text-green{color:green;}
#app > div.container-fluid > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li > a{border-right: 4px solid green;}
/*#app > div.container-fluid > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:nth-child(1) > a{color:pink;}*/
#app > div.container-fluid > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:nth-child(5) > a{border-right: 0px solid green;}
/*.principal-menu>li:first-child{color:red!important; }*/
/*.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:last-child{color:purple!important; }*/
#app > div.container-fluid > nav.navbar.navbar-default.background-yellow.topbar{border:none;}
#app > div.container-fluid > nav:nth-child(2){border:none;}
.topbar{margin-bottom: 0px;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color:black;}
/*.navbar-default{background-color: #ffe30e;}*/
.banner{min-width: 100%;}
.principal-login-input{border:4px green solid;}
.principal-login-input >span{background: green;
    border: 0px;
    border-radius: 0px;}



.principal-login-input >input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   grey;
    font-size: 	1.5em;
}
.principal-login-input >input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   font-size: 	1.5em;
   opacity:  1;
}
.principal-login-input >input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   font-size: 	1.5em;
   opacity:  1;
}
.principal-login-input >input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
   font-size: 	1.5em;
}

.principal-login-btn:hover{background:white; color:black;}
.principal-login-btn{border-radius: 0px; height: 44px;margin-left: 5px;}

.referral{
  color:white;
}
.referral:hover{
  color:white;
}
.referral:active{
  color:white;
}
.referral:visited{
  color:white;
}