.skin-blue .main-header .logo {
    background-color: #FFEE00;
    color: #000;
}
    .skin-blue .main-header .navbar {
    background-color: #019541;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: #019541;
color: #fff}
.skin-blue .sidebar-form input[type="text"]::-webkit-input-placeholder{ /* Chrome */
	color:#fff;
}
.skin-blue .sidebar-form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
	color:#fff;
}
.skin-blue .sidebar-form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
	color:#fff;
}
.skin-blue .sidebar-form input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color:#fff;
}

    .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #1F1B20;
}

.skin-blue .main-header li.user-header {
    background-color: #1F1B20;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #1F1B20;
    padding: 10px;
}